
.search-bar-container {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
}

.search-bar-container.active {
    width: 25rem;
}


::ng-deep p-toolbar .p-component, .p-component {
    margin-right: 0rem;
}