/* .custom-bar {
    display: flex;
    align-items: center;
} */

/* .search-bar-container {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
}

.search-bar-container.active {
    width: 25rem;
} */


::ng-deep p-toolbar .p-component, .p-component {
    margin-right: 0rem;
    font-size: 20px;
}

::ng-deep .p-button {
    background: orange;
    color: #ffffff;
    border-color: orange;

}

::ng-deep .p-button:enabled:hover {
    background: orange;
    color: #ffffff;
    border-color: orange;
}

::ng-deep .p-toolbar .p-toolbar-group-end span {
    margin-right: 2rem;
    font-size: 20px;
    text-align: right; 
    transition: font-weight 0.1s; 
}


::ng-deep .p-toolbar .p-toolbar-group-end span:hover {
    font-weight: bold; 
    cursor: pointer;
}

.return-land {
    font-size: 20px;
}