.ia-footer-see-more {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: large;
}

.ia-see-more {
    display: flex;
    justify-content: center;
}

.ia-footer-see-more {
    bottom: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
}

.ia-landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 

    overflow-y: hidden !important;
    position: relative;
}

.ia-about {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}