::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: orange;
}
.item-carrousel:hover {
    cursor: pointer;
}

.item-carrousel {
    background-size: 100%;
}

.title-car {
    backdrop-filter: blur(10px);
}