::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: orange;
}
.item-carrousel:hover {
    cursor: pointer;
    backdrop-filter: blur(100%);
}

.item-carrousel{
    background-size: 100%;
}