<ia-navbar [sectionTitle]="'Acerca del portafolio'"></ia-navbar>
<div class="container mt-5">
    <h4>Organizacion del portafolio: </h4>
    <p>Este portafolio se organiza de la siguiente manera:</p>
    <p>
        Articulos: Los articulos consisten en pequeños resumenes, y aplicaciones 
        acerca diferentes temas de ML concretos. Cada articulo tiene tags los cuales
        representan los temas tratados.
    </p>
    <p>
        Casos de estudios: Son articulos mas extensos que involucran diferentes temas
        tratado a lo largo de articulos.
    </p>
    <h4>Navegacion básica:</h4>
    TODO - EXPLICAR NAVEGACION BASICA DEL PORTAFOLIO
    <div class="mt-5 ia-back-to-home">
        <p-button (onClick)="redirectHome()">Volver al inicio</p-button>
    </div>

</div>
