<ia-navbar [sectionTitle]="'Caso estudio: Adopciones en un refugio de Austin'"></ia-navbar>
<div class="container">
    <h1 [align]="'center'" class="mt-3">Caso estudio: Adopciones en un refugio de Austin</h1>
    <div class="row mt-5">
        <div class="col-md-8 order-md-1">
            <p>Objetivo: El objetivo de este caso de estudio es lograr predecir la probabilidad de que una 
                persona posea una enfermedad cardiaca.
            </p>
            <p>El estudio es realizado en el marco del proceso CRISP-DM:</p>

            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/CE_cardaic/1.jpg">
            </p>
        
            <h2>Comprension del negocio</h2>
            <p>
                Se desea analizar los datos de ingresos y salidas del Refugio de Animales de la ciudad de Austin, para comprender las tendencias de adopción de animales, incluyendo qué atributos de estos animales resultan en una probabilidad de adopción mayor. El objetivo final es predecir si un cierto animal será adoptado o no, basado en las características que el Refugio de Animales de Austin puede identificar en el momento del ingreso. Este problema es importante porque aproximadamente 6.5 millones de animales ingresan a los refugios anualmente. Más aún, cada año 1.5 millones de animales de los refugios son sacrificados.
            </p>

            <aside class="alert alert-info">
                <strong>
                    Se trata de un problema de clasificación supervisado, esto se debe a que nosotros tenemos datos con un dato objetivo (class).
                </strong>
            </aside>

            <h2>Comprension del negocio</h2>
            <p>
                Tenemos dos datasets uno de datos de los animales cuando entran y otro cuando salen.  Los datos son los siguientes:
            </p>
            <h2>Procesamiento de los datos</h2>
            <h2>Dataset "Intakes"</h2>
            <table border="1">
                <tr>
                    <th>Atributo</th>
                    <th>Tipo de datos original de la base de datos</th>
                </tr>
                <tr>
                    <td>animal_id</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>datetime</td>
                    <td>datetime</td>
                </tr>
                <tr>
                    <td>monthyear</td>
                    <td>datetime</td>
                </tr>
                <tr>
                    <td>found_location</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>intake_type</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>intake_condition</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>animal_type</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>sex_upon_intake</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>age_upon_intake</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>breed</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>color</td>
                    <td>Texto</td>
                </tr>
            </table>
        
            <h2>Dataset "Outcomes"</h2>
            <table border="1">
                <tr>
                    <th>Atributo</th>
                    <th>Tipo de datos original de la base de datos</th>
                </tr>
                <tr>
                    <td>animal_id</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>datetime</td>
                    <td>datetime</td>
                </tr>
                <tr>
                    <td>monthyear</td>
                    <td>datetime</td>
                </tr>
                <tr>
                    <td>date_of_birth</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>outcome_type</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>outcome_subtype</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>animal_type</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>sex_upon_outcome</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>age_upon_outcome</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>breed</td>
                    <td>Texto</td>
                </tr>
                <tr>
                    <td>color</td>
                    <td>Texto</td>
                </tr>
            </table>
            <h2>Tratamiento previo de los datos</h2>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen1.png">
            </p>
            <p>Se adoptan principalmente perros. Lo cual es normal puesto que el refugio recibe principalmente perros.</p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen2.png">
            </p>
            <p>
                Total, Perros Adoptados 2823/9509 <br>
                Total, Gatos Adoptados 904/2461 <br>
                Lo cual nos da un animal de preferencia son los gatos.
            </p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen3.png">
            </p>
            <p>Podemos observar también que la principal edad en la que se adopta es al año con 641 adopciones.</p>
            <h2>Preparacion de los datos</h2>
            <p>Las decisiones que se tomaran para trabajar sobre los mismos son:</p>
            <ol>
                <li><strong>Convertir sex a sex y castrated por separado:</strong> Se dividirá la columna "sex" en dos columnas separadas, una para el sexo y otra para indicar si el animal está castrado.</li>
                <li><strong>Definir atributo adoptado como label:</strong> El atributo "adopted" se definirá como la etiqueta que se quiere predecir en el modelo.</li>
                <li><strong>Sacar monthyear que es la mismo que date:</strong> La columna "monthyear" que es idéntica a la columna "date" se eliminará para evitar redundancia.</li>
                <li><strong>Eliminar atributos innecesarios:</strong> Se eliminarán las columnas que no aportan al modelo y no se necesitan para el análisis.</li>
                <li><strong>Asignar role id a animal_id:</strong> La columna "animal_id" se asignará como el identificador único (ID) del animal.</li>
                <li><strong>Eliminar duplicados:</strong> Se eliminarán las filas duplicadas en el dataset.</li>
                <li><strong>Generar clase Adopted:</strong> Se creará una nueva columna llamada "Adopted" donde se marcarán las filas donde [outcome_type] sea igual a "Adoption" y [outcome_subtype] no sea igual a "Foster".</li>
            </ol>
            <p>Todo esto se hace con turboprep sin ningún operador en específico.
                Las columnas se remueven en transform remove. Las seleccionadas fueron principalmente las que no aportaban al modelo 
                </p>
            <h2>Modelado</h2>
            <p>Comparacion ROCs</p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen4.png">
            </p>
            <ol>
                <li><strong>Regresión Logística (RL):</strong> Se utilizará el modelo de Regresión Logística para clasificar los datos.</li>
                <li><strong>K-Nearest Neighbors (KNN):</strong> El modelo K-Nearest Neighbors se empleará para la clasificación basada en vecinos más cercanos.</li>
                <li><strong>Naive Bayes (NB):</strong> Se aplicará el modelo Naive Bayes para la clasificación de datos.</li>
            </ol>
            <p>El modelo para utilizar es el siguiente:</p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen5.png">
            </p>
            <p>Cada cross validation posee un modelo.También se realizará feature selection para cada modelo.</p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen7.png">
            </p>
            <h2>Evaluacion</h2>
            <p>RL</p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen8.png">
            </p>
            <p>FS</p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen8.png">
            </p>
            <p>NB</p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen9.png">
            </p>
            <p>FS</p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen10.png">
            </p>
            <p>KNN</p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen11.png">
            </p>
            <p>FS</p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen13.png">
            </p>
            <p>Algo a destacar es lo siguiente:</p>
            <p [align]="'center'">
                <img class="img-fluid mb-3" src="../../../../../../assets/img/Animals/Imagen14.png">
            </p>
            <p>
                Se puede ver que a pesar de realizar el mismo foward selection, cada vez tomo atributos diferentes, aunque con algunas coincidencias. Esto se debe a que el algoritmo es avido, es decir que todo depende de donde tenga el punto de origen.
            </p>
        </div>
        <div class="col-md order-md-2" [align]="'end'">
            <a href="../../../../../../assets/pdf/CE_Animales.pdf" download="CE_Animales.pdf">
                <div class="w-100 pbu">
                    <p-button class="w-100 pbu">Descargar pdf</p-button>
                </div>
            </a>
            <div class="me-5 mt-5">
                <h5>Indice: </h5>
                <h6>Comprension del negocio</h6>
                <h6>Comprension de los datos</h6>
                <h6>Preparacion de los datos</h6>
                <h6>Modelado</h6>
                <h6>Evaluacion</h6>
                <h6>Deploy</h6>
            </div>
        </div>
    </div>
   
</div>


